.question {
    margin: 0 0 20px 0;
}
.posts-form .form-control {
    width: 50%;
    height: 200px;
}
.posts-form input.form-control {
    height: auto;
}
.recomended-reviews {
    background: yellow
}
